.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.5px;            
    background: #ddd;
    padding: 3px;
    margin-right: 5px;  
    text-align: center;
    width: 100px;    
}
.tabs a span.active {
    background: #eee;
}
.content ul {
    margin: 0;
    padding: 5px;
}
.content li {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    font-size: 14px;
    margin: 10px 0;
    line-height: 1;
    padding-left: 5px;
}
.content input {
    width: 285px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 30px;
}
.content button {    
    background: #ccc;
    width: 18px;
    height: 27px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 1px;
    padding-right: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
}        
main a.to_main {
    text-decoration: none;
    display: block;
    margin-top: 20px;    
    font-weight: bold;
    color: blue;
    font-size: 90%;
}
