body {
    margin: 0;    
    font-family: 'Noto Sans';
    box-sizing: border-box;   
}
p {
    margin: 0;
    font-size: 16px;
}
.container {
    width: 915px;
    margin-left: auto;
    margin-right: auto;    
}
.line {
    border-bottom: 2px solid #ccc;    
}
    .header {
        padding-top: 20px;

        display: flex;
        justify-content: space-between;                   
    }
            
        .logo {
            width: 70%;
            margin: 0; 
            color: #FF0000;           
            font-weight: 400;            
            font-size: 48px;
            font-style: italic;
            line-height: 1;
            margin: 0;           
            margin-bottom: 30px;
        }
        .header-nav {
            width: 30%;
            margin: 0;            
            line-height: 1;            
            font-size: 16px;
        }
            .header-nav__link {
                text-decoration: none;
                color: #FF0000;
                font-weight: 900;
            }
    
    .main {                
        padding-top: 30px;        
        position: relative;
        
        display: flex;
        flex-direction: column;
    }
        .main-content {
            width: 70%;
        }
        .main h2 {
            font-weight: 700;
            font-size: 26px;
            line-height: 1;
            margin: 0;           
            margin-bottom: 15px;
        }
        .main p {            
            margin-bottom: 20px;
            line-height: 1
        }
        .main h3 {
            margin: 0;
            font-size: 20px;
            margin-bottom: 0;               
        }
        .main__ul {
            margin: 0;            
            margin-top: 5px;
            margin-bottom: 35px;            
            padding-left: 20px;
            list-style-type: circle;
        }         
         .main a.list {            
             display: inline-block;
             margin-bottom: 25px;             
             color: blue;
             font-size: 14px;
             font-weight: bold;                          
             text-decoration: none;             
             cursor: pointer;
         }      
        .main-img {
            position: absolute; 
            content: '';
            width: 185px;
            height: 310px;               
            right: 40px;
            top: 30px;
        }

        .to_main {
            display: block;
            margin-top: 20px;
             margin-bottom: 25px;             
             color: blue;
             font-size: 14px;
             font-weight: bold;                          
             text-decoration: none;             
             cursor: pointer;
        }

.footer {
    background-color: #ccc;       
}
    .footer-content {       
        line-height: 1;          

        display: flex;
        justify-content: space-between;
    }
        .footer-contacts {
            width: 70%;           
        }
            .footer-contacts__title {
                font-weight: 400;
            }
                .footer-contacts__address--name {                    
                    font-style: italic;
                    color: #FF0000;
                }
        .footer-map {
            width: 30%;
        }
            .footer-map__title {
                font-weight: 400;
            }
            .footer-map__list {
                height: 60px;                
                font-weight: 700;
                color: #FF0000;
                cursor: pointer;

                display: flex;
                justify-content: space-between;
            }